<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Notes/blob/main/SET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SET**

*   Sets are Unordered Collection of data items.
*   Duplicates are not allowed.


*   They Store Multiple items in single variable.
*   Set items are separated by commas and enclosed with curly barckets **{}**


*   Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.

*   We can apply mathematical operations like,

    **Union,intersection,difference** ect. on set objects.


*   Python Used to store collection of data, There are 
*   List,Tuple,Dictionary all different qualities and usage.

In [ ]:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [ ]:
#We can create set objects by using set() Function s = set(any sequence)
l=[10,20,30,40,10,20,10]
s=set(l)
print(s)

{40, 10, 20, 30}

In [ ]:
s=set(range(5))
print(s)

{0, 1, 2, 3, 4}


# **Important Functions of Set:**

In [ ]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
print(s)

{40, 10, 20, 30}

In [ ]:
# 2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

In [ ]:
#3. copy(): returns copy of the set(cloning)
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [ ]:
#4. pop(): It removes and returns some random element from the set
s={40,10,30,20,} # only 1st index remove 
print(s)
print(s.pop())

{40, 10, 20, 30}
40

In [ ]:
#5. remove(x):removes specified item from the set
s={40,10,30,20}
s.remove(20
         )
print(s)

{40, 10, 30}

In [2]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(40)
print(s)

{10, 20, 30}

In [7]:
#7. clear(): to remove all the elements from the set
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

# **IMPORTANT CONCEPTS**

# Mathematical Operations on the Set:

In [10]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [13]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [17]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(y.difference(x))#50,60
print(x-y)
print(y-x)#50,60

{10, 20}
{50, 60}
{10, 20}
{50, 60}

In [19]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))

{10, 50, 20, 60}

# **Membership Operators: (in, not in)**

In [21]:
s=set("python")
print(s)
print('d'in s)
print('p'in s)
print('n'in s)

{'h', 'y', 'n', 'o', 'p', 't'}
False
True
True

# **Set Comprehension:**

In [22]:
#Set comprehension is possible.
s={x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

# **Set Objects won't support indexing and slicing:**

In [24]:
s={10,20,30,40}
print(s[0]) #TypeError:'set'objectdoesnotsupportindexing
print(s[1:3]) #TypeError: 'set' object is not subscriptable

TypeError: ignored

Explanation:-

insertion order preserved

Insertion order refers to the order in which you are adding elements to the data structure (i.e., a collection like List , Set , Map , etc..). For example, a List object maintains the order in which you are adding elements, whereas a Set object doesn't maintain the order of the elements in which they are inserted.