<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Notes/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Important Functions of Tuple:**

In [ ]:
#1. len()
t=(10,20,30,40,50,60,70)
len(t)

7

In [ ]:
#2. count():To return number of occurrences of given element in the tuple
t=(1,2,3,4,5,6,7,1,5,2,7,)
t.count(7)

2

In [ ]:
# 3. index(): Returns index of first occurrence of the given element.
# If the specified element is not available then we will get ValueError.
t=(1,2,3,4,4,5,5,6,2)
t.index(2)

1

In [ ]:
# 4. sorted(): To sort elements based on default natural sorting order
t=(10,20,30,20,10)
x = sorted(t)
print(x)

[10, 10, 20, 20, 30]

In [ ]:
#We can sort according to reverse of default natural sorting order as follows
t = sorted(t, reverse = True)
print(t)

[30, 20, 20, 10, 10]

In [ ]:
# 5. min() and max() functions:
#These functions return min and max values according to default natural sorting order.
t=(10,20,30,40,50)
print(min(t))
print(max(t))

10
50

**Tuple Comprehension:**

Tuple Comprehension is not supported by Python.

t = ( x**2 for x in range(1,6))

Here we are not getting tuple object and we are getting generator object.

1) t= ( x**2 for x in range(1,6))

2) print(type(t))

3) for x in t:

4) print(x)

In [ ]:
t=(x**2 for x in range(1,6))
print(type(t))
for x in t:
  print(x)

<class 'generator'>
1
4
9
16
25

**Q. Write a Program to take a Tuple of Numbers from the Keyboard and Print its Sum and Average?**

In [1]:
t=eval(input("EnterTupleofNumbers:"))
l=len(t)
sum=0
for x in t:
  sum=sum+x
print("TheSum=",sum)
print("TheAverage=",sum/l)

EnterTupleofNumbers:1,5,2,3
TheSum= 11
TheAverage= 2.75