<a href="https://colab.research.google.com/github/Sambhaji6529/Python_Notes/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**

1.Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read only version of List.

2.If our data is fixed and never changes then we should go for Tuple.

3.Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

4.We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.

5.Tuple support both +ve and -ve index. +ve index means forward direction (from left to right) and -ve index means backward direction (from right to left)

6.We can represent Tuple elements within Parenthesis and with comma seperator.

In [1]:
#parenthesis are optional
t=10,20,30,40,50
print(t)
print(type(t))

(10, 20, 30, 40, 50)
<class 'tuple'>

Q) Which of the following are valid Tuples?

1) t=()

2) t=10,20,30,40

3) t=10

4)t = (10,)

5) t=(10,20,30,40)

6) t = [10,20]

tuple(t)

# Accessing Elements of Tuple:

We can access either by index or by slice operator

In [4]:
#By using index:
t=(10,20,30,40,50)
print(t[0])
print(t[-1])
print(t[100])#IndexError: tuple index out of range

10
50

IndexError: ignored

In [5]:
# By using Slice Operator:
t=(10,20,30,40,50,60)
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

# Tuple vs Immutability:

Once we creates tuple, we cannot change its content. Hence tuple objects are immutable.

In [6]:
t=(1,2,3)
t[1]=0

TypeError: ignored

# Mathematical Operators for Tuple:
We can apply + and * operators for tuple

In [7]:
# 1) Concatenation Operator (+):
t1=(10,20,30,40)
t2=(50,60,70,80)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80)

In [8]:
#2) Multiplication Operator OR Repetition Operator (*)
t1=(10,20,30,40)
t2=t1*3
print(t2)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

**Important Functions of Tuple:**

In [ ]:
#1. len()
t=(10,20,30,40,50,60,70)
len(t)

7

In [ ]:
#2. count():To return number of occurrences of given element in the tuple
t=(1,2,3,4,5,6,7,1,5,2,7,)
t.count(7)

2

In [ ]:
# 3. index(): Returns index of first occurrence of the given element.
# If the specified element is not available then we will get ValueError.
t=(1,2,3,4,4,5,5,6,2)
t.index(2)

1

In [ ]:
# 4. sorted(): To sort elements based on default natural sorting order
t=(10,20,30,20,10)
x = sorted(t)
print(x)

[10, 10, 20, 20, 30]

In [ ]:
#We can sort according to reverse of default natural sorting order as follows
t = sorted(t, reverse = True)
print(t)

[30, 20, 20, 10, 10]

In [ ]:
# 5. min() and max() functions:
#These functions return min and max values according to default natural sorting order.
t=(10,20,30,40,50)
print(min(t))
print(max(t))

10
50

**Tuple Comprehension:**

Tuple Comprehension is not supported by Python.

t = ( x**2 for x in range(1,6))

Here we are not getting tuple object and we are getting generator object.

1) t= ( x**2 for x in range(1,6))

2) print(type(t))

3) for x in t:

4) print(x)

In [ ]:
t=(x**2 for x in range(1,6))
print(type(t))
for x in t:
  print(x)

<class 'generator'>
1
4
9
16
25

**Q. Write a Program to take a Tuple of Numbers from the Keyboard and Print its Sum and Average?**

In [ ]:
t=eval(input("EnterTupleofNumbers:"))
l=len(t)
sum=0
for x in t:
  sum=sum+x
print("TheSum=",sum)
print("TheAverage=",sum/l)

EnterTupleofNumbers:1,5,2,3
TheSum= 11
TheAverage= 2.75